# $Id$

# min hr mday mon wday
  */5 *  *    *   *	cd ~/code/proj/uview/uviewd/ ; screen -S uviewd -X redisplay >/dev/null 2>&1 || screen -S uviewd -d -m sh runuview.sh

# bl0
*/5 *  *    *   *	screen -S uvmon-tunnel -X redisplay >/dev/null 2>&1 || screen -S uvmon-tunnel -d -m ssh -o "ExitOnForwardFailure yes" -gR 24240:localhost:24240 mugatu

# bl1
*/5 *  *    *   *	screen -S uvmon-tunnel -X redisplay >/dev/null 2>&1 || screen -S uvmon-tunnel -d -m ssh -o "ExitOnForwardFailure yes" -gR 24241:localhost:24240 mugatu
