# $Id$

# min hr mday mon wday
  */5 *  *    *   *	cd ~/code/proj/uview/uviewd/ && screen -S uviewd -d -m sh runuview.sh

# bl0
*/5 *  *    *   *	screen -S uvmon-tunnel -d -m ssh -o "ExitOnForwardFailure yes" -gNR 24240:localhost:24240 m

# bl1
*/5 *  *    *   *	screen -S uvmon-tunnel -d -m ssh -o "ExitOnForwardFailure yes" -gNR 24240:localhost:24241 m
